.DS_Store
.idea
/binaryTree/node_modules
/merkleTree/node_modules
/merkleTree/.idea
/binaryTree/.idea
/Trie/.idea
/Trie/node_modules
/Trie/.nyc_output
/alchemyu-json-activity/node_modules
/alchemyu-json-activity/.env
/binaryTree/.nyc_output/
/alchemyu-json-activity/.nyc_output/
/node_modules
/sign-tx/node_modules
/sign-tx/.env
/sign-tx/.idea
