.DS_Store
.idea
/binaryTree/node_modules
/merkleTree/node_modules
/merkleTree/.idea
/binaryTree/.idea
/Trie/.idea
/Trie/node_modules
/Trie/.nyc_output
/json-activity/node_modules
/json-activity/.env
/binaryTree/.nyc_output/
/json-activity/.nyc_output/
/node_modules
/sign-tx/node_modules
/sign-tx/.env
/sign-tx/.idea
/block-explorer/node_modules
/block-explorer/.env
/faucet-dapp/.env
/faucet-dapp/node_modules
             # Hardhat files
/faucet-dapp/cache
/faucet-dapp/artifacts
             # TypeChain files
/faucet-dapp/typechain
/faucet-dapp/typechain-types
             # solidity-coverage files/home/dayemon/Documents/Blockchain/home/dayemon/Documents/Blockchain
/faucet-dapp/coverage
/faucet-dapp/coverage.json

/modify-contract-state/.env
/modify-contract-state/node_modules
             # Hardhat files
/modify-contract-state/cache
/modify-contract-state/artifacts
             # TypeChain files
/modify-contract-state/typechain
/modify-contract-state/typechain-types
             # solidity-coverage files
/modify-contract-state/coverage
/modify-contract-state/coverage.json

#event emitter
/event-emitter-dapp/.env
/event-emitter-dapp/node_modules
             # Hardhat files
/event-emitter-dapp/cache
/event-emitter-dapp/artifacts
             # TypeChain files
/event-emitter-dapp/typechain
/event-emitter-dapp/typechain-types
             # solidity-coverage files/home/dayemon/Documents/Blockchain/home/dayemon/Documents/Blockchain
/event-emitter-dapp/coverage
/event-emitter-dapp/coverage.json

/mapping-struct/node_modules

/simple-collectible/node_modules
/simple-collectible/.env
/simple-collectible/cache
/simple-collectible/artifacts

/party-dapp/node_modules
/party-dapp/.env
/party-dapp/cache
/party-dapp/artifacts
